.App{
    text-align: center;
    width: fit-content;
    margin: 0 auto;
}

.App h1{
    font-size: 75px;
}

#zwiekszBtn{
    margin-right: 10px;
}

#zmniejszBtn{
    margin-left: 10px;
}

#zwiekszBtn, #zmniejszBtn{
    width: 125px;
    padding: 10px 0;
    font-size: 20px;
    border-radius: 10%;
}

#zwiekszBtn:hover, #zmniejszBtn:hover{
    background-color: rgb(185, 182, 182);
    transition: 0.25s;
}